SubsManager/Data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="TwitchSubs">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Subscriber">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="username" type="xs:string" />
							<xs:element name="subtime" type="xs:unsignedByte" />
							<xs:element name="startdate" type="xs:string" />
							<xs:element name="enddate" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>